<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span class="input-group-text">Nový úkol</span>
    </div>
    <input type="text" class="form-control" @bind="Text" @bind:event="oninput" @onkeypress="Enter"/>



    <div class="input-group-append">
        <button class="btn btn-secondary @buttonDisabled" @onclick="NewItem">Přidat</button>

    </div>
</div>


@code {
    public string Text { get; set; }

    string buttonDisabled => string.IsNullOrEmpty(Text) ? "disabled" : null;

    [Parameter]
    public EventCallback<string> OnNewItem { get; set; }

    void NewItem()
    {
        OnNewItem.InvokeAsync(Text);
        Text = string.Empty;
    }

    void Enter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !string.IsNullOrEmpty(Text))
            NewItem();
        
    }
}
