@page "/Card"

<Card Title="Nadpis">
    <p>Libovolný HTML <em>formátovaný</em> obsah</p>
</Card>
<Card Title="První karta">
    <Card Title="Nadpis">
    <Body>
        Tělo ...
    </Body>
    <Footer>
        Zápatí ...
    </Footer>
</Card>

    <Card Title="Druhá karta">
        <Card Title="Třetí karta">
            ...
        </Card>
    </Card>
</Card>



@code {

}
